.signup-option-container {
    background-color: #f8f9fa; /* Light background for the overall container */
    padding: 20px;
  }
  
  .signup-option-container .card {
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for cards */
  }
  
  .signup-option-container .card-title {
    color: #724e27; /* Darker brown for card titles */
    font-weight: bold;
  }
  
  .signup-option-container .card-text {
    color: #8aa7d6; /* Light blue for card text */
  }
  
  .signup-option-container .btn-primary {
    background-color: #f6a859; /* Light orange for primary button */
    border-color: #f6a859;
    color: white;
  }
  
  .signup-option-container .btn-primary:hover {
    background-color: #d59745; /* Darker orange on hover */
    border-color: #d59745;
  }
  